body{
    margin: 0;
}
.bg-black{
    background-color: #000;
}
.bg-darkens{
    background-color: #343230;
}
.bg-red{
    background-color: #DB1E3D;
}
.text-tan{
    color: #C9AD80;
}
.text-baba{
    color: #BABABA;
}
.flex-justify-align{
    display: flex; justify-content: center; align-items: center;
}
.d-grid{
    display: grid;
}
.opacity-none{
    opacity: 0;
}
.prl-0{
    padding-left: 0;
    padding-right: 0;
}
.pt-30{
    padding-top: 30px;
}
.pt-34{
    padding-top: 34px;
}
.pt-40{
    padding-top: 40px;
}
.pt-54{
    padding-top: 54px;
}
.pt-60{
    padding-top: 60px;
}
.pt-68{
    padding-top: 68px;
}
.pt-104{
    padding-top: 104px;
}
.pt-184{
    padding-top: 184px;
}
.pb-90{
    padding-bottom: 90px;
}
.page{
    height: 100vh; width: 100vw; max-width: 100%;
    position: relative;
}
.header{
    padding: 0 70px 0 50px;
    display: flex; justify-content: space-between; align-items: center;
}
.title{
    font-size: 42px; font-weight: bold; font-family: 'Poppins', sans-serif;
}
.title-39{
    font-size: 39px; font-weight: bold; font-family: 'Poppins', sans-serif;
}
.mini-title{
    font-size: 18px; font-family: 'Poppins', sans-serif;
}
.secondary-text{
    font-size: 14px; font-family: 'Poppins', sans-serif;
}
.red-title{
    font-size: 21px; font-weight: bold; font-family: 'Poppins', sans-serif;
    color: #D0021B; letter-spacing: 5px;
}
.font-letter-spacing{
    font-weight: 500;
    letter-spacing: normal;
}
a.btn,
a.btn:hover{
    width: 270px; height: 60px;
    display: flex; justify-content: center; align-items: center;
    color: #fff; text-transform: uppercase; text-decoration: none;
    font-size: 12px; font-weight: bold; font-family: 'Open Sans', sans-serif;
    outline: none;
    position: absolute; left: calc(50% - 135px); bottom: 0;
    border-radius: 0;
}
/*inputs*/
.main-form{
    font-size: 28px;
}
input[type=text]{
    width: auto;
    border: none; outline: none;
    font-size: 28px;
}
input#attach{
    display: none;
}
#attach-label{
    color: #DB1E3D;
    cursor: pointer;
}
/*end inputs*/

img.logo{
    width: 154px; height: 18px;
}
a.menu,
a.cross{
    display: block;
    text-decoration: none;
    outline: none;
}
img.menu-ico{
    width: 36px; height: 40px;
}
.plate{
    padding-top: 44px;
}
.circle{
    width: 48px; height: 48px;
    background-image: url('../img/circle.png'); background-size: contain;
    background-repeat: no-repeat; background-position: center;
    margin-right: 25px;
}
.plate-text{
    height: 170px;
    padding-right: 30px;
    overflow: hidden;
    line-height: 2;
}
.line{
    border-bottom: 2px solid #979797;
}

/*nav bar*/
#nav-bar{
    width: 50vw; height: 100vh;
    background-color: #000;
    position: absolute;
    right: 0; top: 0;
    padding: 50px 70px 76px 85px;
}
.nav-logo{
    font-size: 16px; font-weight: bold; font-family: 'Open Sans', sans-serif;
    color: #C9AD80;
}
a.cross{
    display: block;
    text-decoration: none;
    outline: none;
}
a.cross #test{
    width: 36px;
    height: 40px;
}

a.nav-link{
    display: inline-block;
    text-decoration: none; outline: none;
    color: #fff;
    font-size: 28px; font-weight: bold; font-family: 'Open Sans', sans-serif;
    margin-top: 25px; padding: 0;
}
a.nav-link:hover{
    color: #C9AD80;
}
a.nav-link span{
    color: #BABABA;
    font-size: 12px; font-style: normal;
}
.nav-secondary{
    font-size: 14px; font-family: 'Open Sans', sans-serif;
    color: #BABABA;
    max-width: 420px;
}
.nav-secondary span{
    font-weight: bold;
}
#nav-bar ul{
    list-style: none;
    margin: 0; padding: 0;
}
/*end nav bar*/
@media (max-width: 1200px) {
    .title{
        font-size: 38px;
    }
    .mini-title{
        font-size: 16px;
    }
    .red-title{
        font-size: 18px;
    }
    .title-39{
        font-size: 32px;
    }
}
@media (max-width: 768px) {
    .header{
        padding: 0 40px 0 40px;
    }
    #nav-bar{
        width: 100vw;
    }
    a.nav-link{
        margin-top: 10px;
    }
}
@media (max-width: 576px) {
    .title{
        font-size: 28px;
    }
    .mini-title{
        font-size: 14px;
    }
    .pt-68{
        padding-top: 10px;
    }
    .pt-60{
        padding-top: 30px;
    }
    .secondary-text{
        font-size: 12px;
    }
    .title-39{
        font-size: 26px;
    }
}